* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url('images/library.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #919191;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header styles */
#header-container {
  padding: 1.3rem;
  width: 100vw;
  background-color: #eee;
  border-bottom: 5px solid #222;
  opacity: 0.9;
  border-radius: 5px;
}

#header {
  color: #222;
  margin: auto;
  line-height: 1.2;
  width: 100vw;
  text-align: left;
  font-size: 5rem;
}

/* Contains the books data and input */
#main-container {
  margin-top: 7rem;
  display: grid;
}

/* Book data/info styles */
#table-data {
  margin: auto;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid #222;
  opacity: 0.9;
}

th {
  font-size: 3rem;
  padding: 10px 30px;
  color: #222;
  border-bottom: #444 solid 2px;
}

td {
  color: #444;
  font-size: 1.5rem;
  padding: 5px 10px;
  text-align: center;
}

#read-btn {
  width: 40px;
  height: 30px;
  font-size: inherit;
  color: inherit;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#delete-btn {
  font-size: 100%;
  width: 100%;
  padding: 0.2rem;
  background: #c93c3c;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.8s;
}

#delete-btn:hover {
  background: #a02e2e;
}

/* Book input styles */
#input-container {
  margin: 3rem auto;
  display: grid;
  background: #eee;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #222;
  opacity: 0.9;
}

#input-container:hover {
  opacity: 1;
}

#form {
  margin: auto;
  display: grid;
  padding: 2rem;
  font-size: 2rem;
}

.text-inputs {
  margin-top: 1.4rem;
}

.input-text-area {
  padding: 0.6rem;
  margin-top: 4px;
  width: 190px;
}

#pages-input {
  margin-bottom: 2rem;
}

#check-read {
  display: grid;
  margin-bottom: 2rem;
}

#read-label {
  margin-right: 2rem;
}

.btn-container {
  display: grid;
}

.btn {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  border-radius: 5px;
  background: #559beb;
  cursor: pointer;
  transition: all 0.8s;
}

.btn:hover {
  background: #316fb6;
}

/* Media Query */
@media all and (max-width: 600px) {

  #header {
    font-size: 4rem;
    line-height: 1;
  }

  th {
    font-size: 2rem;
    padding: 10px 10px;
  }
}