html { 
  font-size: 10px;
  background: url('/library.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #919191;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headerBox {
  margin: -1rem 0 9rem -1rem;
  padding: 1.3rem;
  width: 100%;
  background-color: #eee;
  border-bottom: 5px solid black;
  opacity: 0.9;
  border-radius: 5px;
}

#header {
  color: #000;
  margin: auto;
  line-height: 1.2;
  width: 90%;
  text-align: left;
  font-size: 5rem;
  place-self: center;
}

#container {
  margin: 20px;
}

#data {
  margin: auto;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid black;
  opacity: 0.9;
}

th {
  font-size: 250%;
  padding: 10px 30px;
  color: #000;
  border-bottom: #444 solid 2px;
}

td {
  color: #444;
  font-size: 185%;
  padding: 5px 10px;
  text-align: center;
}

#container2 {
  margin: auto;
  margin-top: 20px;
  background-color: #eee;
  width: 175px;
  border-radius: 5px;
  border: 2px solid black;
  opacity: 0.9;
}

#container2:hover {
  opacity: 1;
}

#inputs {
  padding: 2rem;
  /* margin: auto; */
}

#title {
  margin-bottom: 5px;
}

#author {
  margin-bottom: 5px;
}

#pages {
  margin-bottom: 1.5rem;
}

#read {
  margin: 0.5rem;
  padding: 0.1rem;
}

label {
  font-size: 140%;
}

#addBook {
  margin-right: 4px;
}

#readBtn {
  font-size: 100%;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#delBtn {
  font-size: 100%;
  width: 100%;
  padding: 0.2rem;
  background: #c93c3c;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}

.buttons {
  font-size: 150%;
  width: 100%;
  padding: 0.75rem;
  background: #559beb;
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
  margin: 1.5rem 0.2rem 0.2rem 0.2rem;
}