@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: url('images/library.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #919191;
  font-family: 'Lobster', sans-serif;
}

/* Header styles */
#header-container {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem;
  width: 100vw;
  background-color: #eee;
  border-bottom: 5px solid #222;
  opacity: 0.9;
  border-radius: 5px;
}

#header-title {
  color: #222;
  margin: auto;
  line-height: 1.2;
  width: 100vw;
  text-align: left;
  font-size: 5rem;
}

.sign-in-container {
  width: 280px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}

.header-btns {
  display: flex;
  font-size: 2rem;
  color: #222;
}

.log-in-btns {
  font-size: 2rem;
  margin-right: 1rem;
  font-weight: bold;
  color: #222;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
}

/* paragraph tag for "or" */
.lead {
  margin-right: 1rem;
}

.log-in-btns:hover {
  color: #c93c3c;
}

.login-dropdown {
  position: relative;
  display: inline-block;
}

.sign-up-dropdown {
  position: relative;
  display: inline-block;
}

/* Login and Sign Up Forms */
.login-form-container,
.sign-up-form-container {
  display: none;
  position: absolute;
  height: 125px;
  width: 175px;
  background: #222;
}

.sign-up-form-container {
  right: 1.7rem;
}

.login-form {
  display: grid;
  justify-content: center;
}

.login-form input {
  padding: 5px;
  margin-top: 8px;
  width: 150px;
  border-radius: 5px;
}

.login-submit-btn {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background: #559beb;
  transition: all 0.5s;
}

.login-submit-btn:hover {
  background: #316fb6;
}

/* Style login & show login on click */
.login-dropdown:hover .login-form-container {
  display: block;
}

.sign-up-dropdown:hover .sign-up-form-container {
  display: block;
}

/* Contains the books data and input */
#main-container {
  margin-top: 12rem;
  display: grid;
}

/* Book data/info styles */
#table-data {
  margin: auto;
  background-color: #eee;
  border-radius: 5px;
  border: 2px solid #222;
  opacity: 0.9;
}

th {
  font-size: 3rem;
  padding: 10px 30px;
  color: #222;
  border-bottom: #444 solid 2px;
}

td {
  color: #444;
  font-size: 1.5rem;
  padding: 5px 10px;
  text-align: center;
  font-family: sans-serif;
}

#read-btn {
  width: 40px;
  height: 30px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

#delete-btn {
  font-size: 100%;
  width: 100%;
  padding: 0.2rem;
  background: #c93c3c;
  color: inherit;
  font-family: sans-serif;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s;
}

#delete-btn:hover {
  background: #a02e2e;
}

/* Book input styles */
#input-container {
  margin: 3rem auto;
  display: grid;
  background: #eee;
  width: 250px;
  border-radius: 5px;
  border: 2px solid #222;
  opacity: 0.9;
}

#input-container:hover {
  opacity: 1;
}

#form {
  margin: auto;
  display: grid;
  padding: 2rem;
  font-size: 2rem;
}

.text-inputs {
  margin-top: 1.4rem;
}

.input-text-area {
  padding: 0.6rem;
  margin-top: 4px;
  width: 190px;
}

#pages-input {
  margin-bottom: 2rem;
}

#check-read {
  display: grid;
  margin-bottom: 2rem;
}

#read-label {
  margin-right: 2rem;
}

.btn-container {
  display: grid;
}

.add-remove-btns {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: 0.6rem;
  border-radius: 5px;
  font-family: sans-serif;
  background: #559beb;
  cursor: pointer;
  transition: all 0.5s;
}

.add-remove-btns:hover {
  background: #316fb6;
}

/* Media Query */
@media all and (max-width: 600px) {

  #header {
    font-size: 4rem;
    line-height: 1;
  }

  th {
    font-size: 2rem;
    padding: 10px 10px;
  }
}